@import url("https://fonts.googleapis.com/css2?family=Tilt+Warp:wght@400&display=swap");

body {
  background: #000;
}

.timer-container {
  position: relative;
  width: 400px;
  height: 400px;
  margin: 0px auto;
}

.minute-dots,
.center-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.minute-dots {
  width: 100%;
  height: 100%;
  z-index: 1;
}

.center-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.center-button img {
  width: 140px;
  height: 140px;
  max-width: 140px;
  max-height: 140px;
}

.dot {
  position: absolute;
  width: 15px;
  height: 15px;
  max-width: 15px;
  max-height: 15px;
  /* Positioning will be handled with JS or nth-child in CSS */
}

.pill-row {
  display: flex;
  gap: 10px;
  width: max-content;
  margin: -50px auto 0 auto; /* Negative top margin, auto left/right for centering */
  align-items: center;
}

.pill_long {
  width: 35px;
  height: 35px;
  max-width: 35px;
  max-height: 35px;
}

.pill_short {
  width: 18px;
  height: 18px;
  max-width: 18px;
  max-height: 18px;
}

.stars-row {
  display: flex;
  gap: 15px;
  width: max-content;
  margin: 10px auto;
  align-items: center;
}

.star {
  width: 35px;
  height: 35px;
  max-width: 35px;
  max-height: 35px;
}

.countdown-number {
  position: absolute;
  top: 50%;
  left: 49%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 85px;
  font-family: "Tilt Warp", sans-serif;
  pointer-events: none;
  z-index: 3;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

.center-button.pulse {
  animation: pulse 2s infinite;
}
